.Summary{
    display: flex;
    /*flex-direction: column;*/

    h1{
        display: none;

    }
}

.Calories{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;

    p{
        margin: 0;
        padding: 0;

        span{
            padding-left: 10px;
        }
    }
}
