.MainNavigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 40px;
    background-color: #aaaaaa;
    margin:0;

    a{
        text-decoration: none;
        color: black;
    }
}