.Product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    width:200px;
    /*height:40px;*/
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
    background-color: #fbfbfb;
    border-radius: 5px;

}

.Product:hover{
    background-color: #eeeeee;
}