.RecipesModal{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:80vw;
  height:80vh;
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  z-index: 101;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.42) ;
}