.RecipesModal{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:80vw;
  height:80vh;
  background-color: red;
  display: flex;
  justify-content: space-around;
}